@media(min-width:1200px){
  #gmap-wrapper,
  form#new_message,
  div#contact-wrapper,
  div#footer-wrapper
  {
    padding-left: 30px;
    padding-right: 30px;
  }

  form#new_message  .g7.omega{
    width:628px;
  }

  /* sponsor start */
  #sponsor-wrapper .g2{
    margin-left: 34.28px;
  }
  /* sponsor end */
}