<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->
<!-- Article -->
<div id="articles-wrapper" class="f-height">

</div>
<!-- Article -->
<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->
<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
