  <!-- Articles -->
  <div id="articles-wrapper" class="f-height">
    <div class="g12">
      <h1>Статті</h1>
    </div>
    <div class="g6 news-item alpha g6-alpha">
      <h2 class="article-header"><a href="/articles/1">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</a></h2>
      <div class="image-cont"><%= image_tag('article.jpg') %></div>
      <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
    </div><!-- g6 news-item -->
  
    <div class="g6 news-item omega g6-omega">
      <h2 class="article-header"><a href="/articles/1">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</a></h2>
      <div class="image-cont"><%= image_tag('article.jpg') %></div>
      <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
    </div><!-- g6 news-item -->

    <div class="g6 news-item alpha g6-alpha">
      <h2 class="article-header"><a href="/articles/1">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</a></h2>
      <div class="image-cont"><%= image_tag('article.jpg') %></div>
      <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
    </div><!-- g6 news-item -->

    <div class="g6 news-item omega g6-omega">
      <h2 class="article-header"><a href="/articles/1">Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</a></h2>
      <div class="image-cont"><%= image_tag('article.jpg') %></div>
      <p class="article-short-description">Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей.</p>
    </div><!-- g6 news-item -->
  </div>
  <!-- /Articles -->
