<div id="article-banner-wrapper">
	<div id="slider" class="sl-slider-wrapper demo2">

		<div class="sl-slider">

			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-1"></div>
					<div id="item-description">
						<h2>Колір в інтерєрі: важливі аспекти контрасту та якості фарби для роботи</h2>
						<p>Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аккорд образует соноропериод...</p>
						<%= link_to 'Дізнатись більше!', '#', :class => 'button' %>
					</div>
				</div>
			</div>

			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-2"></div>
					<div id="item-description">
						<h2>Excuse me, i'd like to ass you a few questions</h2>
						<p>look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head.</p>
						<%= link_to 'Дізнатись більше!', '#', :class => 'button' %>
					</div>
				</div>
			</div>

		</div><!-- /sl-slider -->

		<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
		</nav>

	</div><!-- /slider-wrapper -->
</div>
