
<!-- Banners -->
<div id="banner-wrapper" class="f-height">
  <div class="g12 banner-holder">
    <div class="home-slider">

        <div class="slide">
            <span class="title">banner_one</span>
          <a href="">
            <img src='/assets/banner.jpg' />
          </a>
        </div>

        <div class="slide">
            <span class="title">banner_two</span>
            <a href="">
                <%= image_tag('banner.jpg') %>
            </a>

        </div>

        <div class="slide">
            <span class="title">banner_three</span>
          <a href="">
            <%= image_tag('banner.jpg') %>
          </a>
        </div>

        <div class="slide">
            <span class="title">banner_four</span>
          <a href="">
            <%= image_tag('banner.jpg') %>
          </a>
        </div>

    </div>
  </div>
</div>
<!-- /Banners -->
<script type="text/javascript">
    $(document).ready(function(){
        var slider=Slider('div.home-slider');
        if($('.banner-holder').width()==1332)
        {
            slider.options.slideWidth=1250;
        }
        else if($('.banner-holder').width()==892)
        {
            slider.options.slideWidth=817;
        }
        slider.initPosition();
        $('.banner-holder').resize(function(){
              if($('.banner-holder').width()==892)
              {
                 slider.slider.css({width:'892px'});
                   slider.options.slideWidth=817;
                  //slider.options.
                  slider.initPosition();
              }
            else if($('.banner-holder').width()==1332)
              {
                  slider.slider.css({width:'1332px'});
                  slider.options.slideWidth=1250;
                  //slider.options.
                  slider.initPosition();
              }
      });
    });
</script>