<% @fetch_banners.each do |b| %>

	<%= inspect.b %>

<% end %>
<!-- Banners -->
    <div id="banner-wrapper" class="f-height">
      <div class="g12 banner-holder">
        <%= image_tag('banner.jpg') %>
      </div>
    </div>
    <!-- /Banners -->
