
<!-- Banners -->
<div id="banner-wrapper" class="f-height">
  <div id="" class="g12 banner-holder" >

    <div id="home-slider" style="">
      <div class="slide"><span class="title">Підлоги</span><a href=""><img alt="Підлоги" src="/assets/1.jpg" title="Підлоги" /></a></div>
      <div class="slide"><span class="title">Фасади</span><a href=""><img alt="Фасади" src="/assets/banner.jpg" title="Фасади" /></a></div>
      <div class="slide"><span class="title">Внутрішні роботи</span><a href=""><img alt="Внутрішні роботи" src="/assets/2.jpg" title="Внутрішні роботи" /></a></div>
      <div class="slide"><span class="title">Гіпсокартон</span><a href=""><img alt="Гіпсокартон" src="/assets/3.jpg" title="Гіпсокартон" /></a></div>
     </div>

  </div>
</div>
<!-- /Banners -->
<script type="text/javascript">
    browser= (function(){
        var N= navigator.appName, ua= navigator.userAgent, tem;
        var M= ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
        if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
        //M= M? [M[1], M[2]]: [N, navigator.appVersion,'-?'];
        M={name:M[1],version:M[2]};
        return M;
    })();

    $(document).ready(function(){
           $('body').addClass(browser.name.toLowerCase());
        var slider=HomeSlider('div#home-slider');
        slider.init();
        var docWidth=$(document).width();
        if(docWidth>=1200 && docWidth<1440)
        {
            //slider.options.slideWidth=1120-3*41;
            //alert('1200');
        }

        else if(docWidth>=1440 && docWidth<2020)
        {
            //slider.options.slideWidth=1340-3*41;
            //alert('1440');
        }
        else if(docWidth>=2020 )
        {
            //slider.options.slideWidth=1680-3*41;
            //alert('1680');
        }
        //slider.initPosition();
        /*$('.banner-holder').resize(function(){
              if($('.banner-holder').width()==892)
              {
                 slider.dl.css({width:'892px'});
                   slider.options.slideWidth=817;
                  //slider.options.
                  slider.initPosition();
              }
        else if($('.banner-holder').width()==1112)
              {
                  slider.dl.css({width:'1112px'});
                  slider.options.slideWidth=1035;
                  //slider.options.
                  slider.initPosition();
              }
            else if($('.banner-holder').width()==1332)
              {
                  slider.dl.css({width:'1332px'});
                  slider.options.slideWidth=1250;
                  //slider.options.
                  slider.initPosition();
              }
      });
      */
    });
</script>
