<!-- Banners -->
<div id="banner-wrapper" class="f-height">
  <div class="g12 banner-holder">
    <% fetch_banners.each do |b| %>

    <% end %>
    <%= image_tag('banner.jpg') %>
  </div>
</div>
<!-- /Banners -->
