
<!-- Banners -->
<div id="banner-wrapper" class="f-height">
  <div class="g12 banner-holder">

    <div id="home-slider">
      <div class="slide"><span class="title">Килими</span><a href=""><img alt="Килими" src="/assets/banner.jpg" title="Килими" /></a></div>
      <div class="slide"><span class="title">Керамічна плитка і сантехніка</span><a href=""><img alt="Керамічна плитка і сантехніка" src="/assets/banner.jpg" title="Керамічна плитка і сантехніка" /></a></div>
      <div class="slide"><span class="title">Світильники</span><a href=""><img alt="Світильники" src="/assets/banner.jpg" title="Світильники" /></a></div>
      <div class="slide"><span class="title">Декори</span><a href=""><img alt="Декори" src="/assets/banner.jpg" title="Декори" /></a></div>
    </div>
  </div>
</div>
<!-- /Banners -->
<script type="text/javascript">
    browser= (function(){
        var N= navigator.appName, ua= navigator.userAgent, tem;
        var M= ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
        if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
        //M= M? [M[1], M[2]]: [N, navigator.appVersion,'-?'];
        M={name:M[1],version:M[2]};
        return M;
    })();

    $(document).ready(function(){
           $('body').addClass(browser.name.toLowerCase());
        var slider=HomeSlider('div#home-slider');
        var docWidth=$(document).width();
        if(docWidth>=1200 && docWidth<1440)
        {
            //slider.options.slideWidth=1120-3*41;
            //alert('1200');
        }

        else if(docWidth>=1440 && docWidth<2020)
        {
            //slider.options.slideWidth=1340-3*41;
            //alert('1440');
        }
        else if(docWidth>=2020 )
        {
            //slider.options.slideWidth=1680-3*41;
            //alert('1680');
        }
        //slider.initPosition();
        /*$('.banner-holder').resize(function(){
              if($('.banner-holder').width()==892)
              {
                 slider.dl.css({width:'892px'});
                   slider.options.slideWidth=817;
                  //slider.options.
                  slider.initPosition();
              }
	      else if($('.banner-holder').width()==1112)
              {
                  slider.dl.css({width:'1112px'});
                  slider.options.slideWidth=1035;
                  //slider.options.
                  slider.initPosition();
              }
            else if($('.banner-holder').width()==1332)
              {
                  slider.dl.css({width:'1332px'});
                  slider.options.slideWidth=1250;
                  //slider.options.
                  slider.initPosition();
              }
      });
      */
    });
</script>
