<!-- Shadow area -->
  <div class="shadow-top"></div>
  <!-- /Shadow area -->
  <!-- Catalog area -->
  <div id="catalog-wrapper" class="f-height">
    <div class="catalog-block g4">
      <div class="catalog-item" id="main-cat-1" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-1">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
      <div class="catalog-item" id="main-cat-2" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-2">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
      <div class="catalog-item " id="main-cat-3" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-3">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
    </div><!-- Catalog wrap stuff -->
    <div class="catalog-block g4">
      <div class="catalog-item " id="main-cat-4" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-4">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
      <div class="catalog-item " id="main-cat-5" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-5">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
      <div class="catalog-item " id="main-cat-6" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-6">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
    </div><!-- Catalog wrap stuff -->
    <div class="catalog-block g4">
      <div class="catalog-item " id="main-cat-7" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-7">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
      <div class="catalog-item " id="main-cat-8" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-8">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a href="#">Меньше <span>+</span></a></li>
        </ul>
      </div>
      <div class="catalog-item " id="main-cat-9" data-category-name="" data-category-id="">
        <a class="catalog-show-more animate" >Сухі суміші<span data-opened="false">+</span></a>
        <ul class="catalog-menu" id="menu-cat-9">
          <li><a href="#">Шпаклівки сухі <span>+</span></a></li>
          <li><a href="#">Шпаклівки готові <span>+</span></a></li>
          <li><a href="#">Супутні матеріали <span>+</span></a></li>
          <li><a href="#">Більше <span>+</span></a></li>
          <li><a >Меньше <span>+</span></a></li>
        </ul>
      </div>
    </div><!-- Catalog wrap stuff -->
  </div>
  <!-- /Catalog area -->
  <!-- Shadow area -->
  <div class="shadow-bottom"></div>
  <!-- /Shadow area -->
