<!-- Shadow area -->
<div class="shadow-top"></div>
<!-- /Shadow area -->
<!-- Catalog area -->
<div id="sponsor-wrapper" class="f-height">
  <% fetch_sponsors.each do |s| %>

  <% end %>
</div>
<!-- /Catalog area -->
<!-- Shadow area -->
<div class="shadow-bottom"></div>
<!-- /Shadow area -->
