
/* for all */
#footer-wrapper{
  background: url(footer-bg.jpg) repeat-x transparent;
}

#footer-wrapper h2{
  color: #bf291f;
  font-weight: 300;
  margin: 0 0 0.83em 0;
}

#footer-wrapper .contact-info-row.contacts p a.tel
{
  color:#BF291F;
  text-decoration: none;
}
