
body {
  min-width: 320px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width: 320px;
  max-width: 1800px;
}


/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


    .g1{
      width:100%/12;
    }
    .g2{
      width:(100%/12*2);
    }
    .g3{
      width:(100%/12*3);
    }
    .g4{
      width:(100%/12*4);
    }
    .g5{
      width:(100%/12*5);
    }
    .g6{
      width:(100%/12*6);
    }
    .g7{
      width:(100%/12*7);
    }
    .g8{
      width:(100%/12*8);
    }
    .g9{
      width:(100%/12*9);
    }
    .g10{
      width:(100%/12*10);
    }
    .g11{
      width:(100%/12*11);
    }
    .g12{
      width:(100%);
    }
 div#home-slider
   {
   height: 318px;
   width:100%;
 }

/* items configuration */
@media(min-width: 320px){
  .page-indent{
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media(min-width: 610px){
  .page-indent{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(min-width: 960px){
  .page-indent{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(min-width: 1200px){
  .page-indent{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(min-width: 1440px){
  .page-indent{
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media(min-width: 2020px){
  .page-indent{
    padding-left: 60px;
    padding-right: 60px;
  }
}

