div#home-slider
{
    overflow: hidden;
    position: relative;
    left:0px;
    top:0px;
}
div#home-slider div.slide
{
    position: absolute;
    left:0px;
    top:0px;
    z-index: 2;
}
div#home-slider div.slide.active
{
    
}
div#home-slider div.slide span.title
{

    cursor: pointer;
color:#f4a500;
    position: absolute;
    display: block;
    
    z-index: 3;
    margin-left: 20px;




    
    padding-left: 39px;

    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform-origin: 0px 0px 0px;


background: rgb(65,65,65); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgb(65,65,65) 30%, rgb(57,57,57) 41%, rgb(38,38,38) 57%, rgb(38,38,38) 63%, rgb(57,57,57) 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(30%,rgb(65,65,65)), color-stop(41%,rgb(57,57,57)), color-stop(57%,rgb(38,38,38)), color-stop(63%,rgb(38,38,38)), color-stop(90%,rgb(57,57,57))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgb(65,65,65) 30%,rgb(57,57,57) 41%,rgb(38,38,38) 57%,rgb(38,38,38) 63%,rgb(57,57,57) 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgb(65,65,65) 30%,rgb(57,57,57) 41%,rgb(38,38,38) 57%,rgb(38,38,38) 63%,rgb(57,57,57) 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgb(65,65,65) 30%,rgb(57,57,57) 41%,rgb(38,38,38) 57%,rgb(38,38,38) 63%,rgb(57,57,57) 90%); /* IE10+ */
background: linear-gradient(135deg,  rgb(65,65,65) 30%,rgb(57,57,57) 41%,rgb(38,38,38) 57%,rgb(38,38,38) 63%,rgb(57,57,57) 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#393939',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



    text-align: left;
    vertical-align: middle;

}
div#home-slider div.slide.active span.title
{
     background: rgba(0,0,0,0.5);
    color:#ff0101;
    border-top:none;
    


}
/* 600px slider */

div#home-slider div.slide span.title
    {
        font-size: 20px;
        height:66px;
    padding-top: 17px;
    padding-bottom: 17px;
    }

.firefox div#home-slider span.title
{
    left: -19px;
    top:352px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}



.chrome div#home-slider span.title
{
    left: -151px;
    top:132px;
}
.chrome div#home-slider div.slide:first-child span.title
{
    left: -152px;
}
.chrome div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-152px;
}
.chrome div#home-slider div.slide.active span.title
{
    left: -151px;
}
.chrome div#home-slider div.slide.next span.title
{
    left: -152px;
    border-top:none;
}



.opera div#home-slider span.title
{
    left: -151px;
    top:132px;
}
.opera div#home-slider div.slide:first-child span.title
{
    left: -152px;
}
.opera div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-152px;
}
.opera div#home-slider div.slide.active span.title
{
    left: -151px;
}
.opera div#home-slider div.slide.next span.title
{
    left: -152px;
    border-top:none;
}

/* 892px slider */
@media(min-width: 960px){
    div#home-slider div.slide span.title
    {
        font-size: 24px;
        height:88px;
    padding-top: 32px;
    padding-bottom: 32px;
    }
.chrome div#home-slider span.title
{
    left:-134px;
    top:115px;
}
.chrome div#home-slider div.slide:first-child span.title
{
    left: -135px;
}
.chrome div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-135px;
}
.chrome div#home-slider div.slide.active span.title
{
    left: -134px;
}
.chrome div#home-slider div.slide.next span.title
{
    left: -135px;
    border-top:none;
}


 .opera div#home-slider span.title
{
    left:-134px;
    top:115px;
}
.opera div#home-slider div.slide:first-child span.title
{
    left: -135px;
}
.opera div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-135px;
}
.opera div#home-slider div.slide.active span.title
{
    left: -134px;
}
.opera div#home-slider div.slide.next span.title
{
    left: -135px;
    border-top:none;
}



.firefox div#home-slider span.title
{
    left: -19px;
    top:318px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}

}
/* 1112px slider */
@media (min-width: 1200px) {

.firefox div#home-slider span.title
{
    left: -19px;
    top:300px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}


.chrome div#home-slider span.title
{
    left: -125px;
    top:106px;
}
.chrome div#home-slider div.slide:first-child span.title
{
    left: -126px;
}
.chrome div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-126px;
}
.chrome div#home-slider div.slide.active span.title
{
    left: -125px;
}
.chrome div#home-slider div.slide.next span.title
{
    left: -126px;
    border-top:none;
}





.opera div#home-slider span.title
{
    left: -125px;
    top:106px;
}
.opera div#home-slider div.slide:first-child span.title
{
    left: -126px;
}
.opera div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-126px;
}
.opera div#home-slider div.slide.active span.title
{
    left: -125px;
}
.opera div#home-slider div.slide.next span.title
{
    left: -126px;
    border-top:none;
}
}

/* 1332px slider */
@media (min-width: 1440px) {

.firefox div#home-slider span.title
{
    left: -19px;
    top:352px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}



.chrome div#home-slider span.title
{
    left: -151px;
    top:132px;
}
.chrome div#home-slider div.slide:first-child span.title
{
    left: -152px;
}
.chrome div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-152px;
}
.chrome div#home-slider div.slide.active span.title
{
    left: -151px;
}
.chrome div#home-slider div.slide.next span.title
{
    left: -152px;
    border-top:none;
}



.opera div#home-slider span.title
{
    left: -151px;
    top:132px;
}
.opera div#home-slider div.slide:first-child span.title
{
    left: -152px;
}
.opera div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-152px;
}
.opera div#home-slider div.slide.active span.title
{
    left: -151px;
}
.opera div#home-slider div.slide.next span.title
{
    left: -152px;
    border-top:none;
}
}
/* 1672px slider */
@media (min-width: 2020px) {

.firefox div#home-slider span.title
{
    left: -19px;
    top:360px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}




.chrome div#home-slider span.title
{
    left: -155px;
    top:136px;
}
.chrome div#home-slider div.slide:first-child span.title
{
    left: -156px;
}
.chrome div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-156px;
}
.chrome div#home-slider div.slide.active span.title
{
    left: -155px;
}
.chrome div#home-slider div.slide.next span.title
{
    left: -156px;
    border-top:none;
}





.opera div#home-slider span.title
{
    left: -155px;
    top:136px;
    /*padding-left: 39px;*/


}
.opera div#home-slider div.slide:first-child span.title
{
    left: -156px;
}
.opera div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-156px;
}
.opera div#home-slider div.slide.active span.title
{
    left: -155px;
}
.opera div#home-slider div.slide.next span.title
{
    left: -156px;
    border-top:none;
}
}
