div#home-slider
{
    overflow: hidden;
    position: absolute;
    left:0px;
    top:0px;
}
div#home-slider div.slide
{
    position: absolute;
    left:0px;
    top:0px;
    z-index: 2;
}
div#home-slider div.slide span.title
{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

    /* IE 5-7 */
    filter: alpha(opacity=30);

    /* Netscape */
    -moz-opacity: 0.3;

    /* Safari 1.x */
    -khtml-opacity: 0.3;

    /* Good browsers */
    opacity: 0.3;


    background: black;
    color:white;
    position: absolute;
    display: block;
    font-size: 16px;
    z-index: 3;
    margin-left: 20px;


    width: 380px;
    padding-top: 5px;
    padding-bottom: 5px;

    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform-origin: 21px 0px 0px;
    text-align: center;
}

.chrome div#home-slider span.title
, .opera div#home-slider span.title
{
    left: -200px;
    top:175px;
}
.firefox div#home-slider span.title
{
    left: -41px;
    top:360px;
}
