div#home-slider
{
    overflow: hidden;
    position: relative;
    left:0px;
    top:0px;
}
div#home-slider div.slide
{
    position: absolute;
    left:0px;
    top:0px;
    z-index: 2;
}
div#home-slider div.slide.active
{

}
div#home-slider div.slide span.title
{

    cursor: pointer;
    /*border-top:groove white 1px;*/ /* white border for titles */

    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(left,  #7d7e7d 4%, #0e0e0e 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(4%,#7d7e7d), color-stop(89%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #7d7e7d 4%,#0e0e0e 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #7d7e7d 4%,#0e0e0e 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #7d7e7d 4%,#0e0e0e 89%); /* IE10+ */
    background: linear-gradient(to right,  #7d7e7d 4%,#0e0e0e 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */




    color:#f4a500;
    position: absolute;
    display: block;
    font-size: 24px;
    z-index: 3;
    margin-left: 20px;




    height:88px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 39px;

    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform-origin: 0px 0px 0px;
    text-align: left;
    vertical-align: middle;

}
div#home-slider div.slide.active span.title
{
     background: rgba(0,0,0,0.5);
    color:#ff0101;
    border-top:none;
    


}

/* 892px slider */
.chrome div#home-slider span.title
{
    left:-135px;
    top:115px;
}
.chrome div#home-slider div.slide.active span.title
{
    left:-134px;
}
 .opera div#home-slider span.title
{
    left:-135px;
    top:115px;
}
.firefox div#home-slider span.title
{
    left: -19px;
    top:318px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}
/* 1112px slider */
@media (min-width: 1200px) {

.firefox div#home-slider span.title
{
    left: -19px;
    top:300px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}


.chrome div#home-slider span.title
{
    left: -127px;
    top:106px;
}
.opera div#home-slider span.title
{
    left: -127px;
    top:106px;
}
}

/* 1332px slider */
@media (min-width: 1440px) {

.firefox div#home-slider span.title
{
    left: -19px;
    top:352px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}



.chrome div#home-slider span.title
{
    left: -153px;
    top:132px;
    /*padding-left: 39px;*/


}
.opera div#home-slider span.title
{
    left: -153px;
    top:132px;
    /*padding-left: 39px;*/


}
}
/* 1672px slider */
@media (min-width: 2020px) {

.firefox div#home-slider span.title
{
    left: -19px;
    top:360px;
}
.firefox div#home-slider div.slide:first-child span.title
{
    left: -20px;
}
.firefox div#home-slider div.slide span.title.orange_border
{
    border-top: groove #f4a500 1px;
    left:-20px;
}
.firefox div#home-slider div.slide.active span.title
{
    left: -19px;
}
.firefox div#home-slider div.slide.next span.title
{
    left: -20px;
    border-top:none;
}




.chrome div#home-slider span.title
{
    left: -156px;
    top:136px;
    /*padding-left: 39px;*/


}
.opera div#home-slider span.title
{
    left: -156px;
    top:136px;
    /*padding-left: 39px;*/


}
}

/* temp */
.banner-holder
{
    background: green;
}